<a href="https://colab.research.google.com/github/bokuwahanya/python_kdigital/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data ={
    'a' : 1,
    'b' : 2.
}
data

In [7]:
from pickle import TRUE
n = 0
b_N = True

while b_N:
   print(n)
   n += 1
  # if n==5:
  # n_N = False
  # if n == 5:
    # continue
   if n == 5:
    break

0
1
2
3
4

In [9]:
a = [1,2,3]
b = []
N = len(a)

for _ in range(3):
  #p = a.pop()
  b.append(a[-1])
  del a[-1]

a, b

([], [3, 2, 1])

In [15]:
a = [1,2,3]
b =[]

while True:
  if a == []: break
  p = a.pop()
  b.append(p)

a, b

## 리스트는 del은 하나 만 지운다
a = [1,2,3,4,3,2]
b = []

while a:
  p = a.pop()
  b.append(p)

a, b

([], [3, 2, 1])

In [18]:
d1 = {}
d1['정원'] = list(map(int, input().split()))
d1

1 2 3 4 5

{'정원': [1, 2, 3, 4, 5]}